<% provide(:title, "Paciente - " + @paciente.nome) %>
<div class="row">
    <div class="col-md-8">
        <h1><%= @paciente.nome %></h1>
    </div>
    <div class="col-md-4 pull-right">
        <p class="btn btn-default"><%= link_to "Retornar aos seus pacientes", pacientes_path %></p>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h3>Informações do Paciente</h3>    
    </div>
    <div class="col-md-6">
        <p class="btn btn-default"><%= link_to "Editar Informações", editar_paciente_path %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="p-titulo-infopaciente">CPF</p>
        <p><%= @paciente.cpf %></p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <p class="p-titulo-infopaciente">Identidade</p>
        <p><%= @paciente.identidade %></p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <p class="p-titulo-infopaciente">Data de Nascimento</p>
        <p><%= @paciente.data_de_nascimento %></p>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="p-titulo-infopaciente">Sexo</p>
        <p><%= @paciente.sexo %></p>
    </div>
</div>
<div class="row">
    <h3>Informações de Contato</h3>
    <div class="col-md-3">
        <p class="p-titulo-infopaciente">Telefone Fixo</p>
        <p><%= @paciente.telefone_fixo %></p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <p class="p-titulo-infopaciente">Celular</p>
        <p><%= @paciente.telefone_celular %></p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <p class="p-titulo-infopaciente">Email</p>
        <p><%= @paciente.email %></p>
    </div>
    <div class="col-md-1">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Atendimentos</h3>    
    </div>
    <div class="col-md-8">
        <%= link_to 'Novo atendimento', novo_atendimento_path(@paciente) %>
    </div>
    
    <% if @paciente.atendimentos.any? %>
        <table class="table">
            <thead>
                <tr>
                    <th>Dia Agendado</th>
                    <th>Observações</th>
                    <th>Horário Agendado</th>
                    <th>Horário de Chegada</th>
                    <th>Horário de Entrada</th>
                    <th>Horário de Saída</th>
                    <th>Consulta cancelada?</th>
                    <th>Exame</th>
                    <th>Plano</th>
                </tr>
            </thead>
            <tbody>
                <%= render @atendimentos %>
            </tbody>
        </table>
    <% end %>
    
    <script>
        $("tr[data-link]").click(function() {
            window.location = $(this).data("link")
        })
    </script>
</div>